body{
    background-color: #f0f4f8;
    margin: auto;
    padding: 0;
}
/* Nav styles */
.logo-one{
    width: 135px;
    height: 82px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    max-width: 1140px; 
    margin: 0 auto;    
    padding: 0 20px;   
    box-sizing: border-box;
}
nav ul li{
    list-style: none;
    margin: 30px;
}
nav li a{
    text-decoration: none;
}
nav ul{
    display: flex;
}
.home-btn{
    color:#252432;
    font-size: 16px;
    font-weight: bold;
}
.shp-btn{
    color: #8987A1;
    font-size: 16px;
    font-weight:500;
}
.cart-btn i{
    margin-right: 5px;
}

/*fresh style*/
.fresh{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1140px; 
    margin: 0 auto;    
    padding: 0 20px;   
    box-sizing: border-box;
    
}
.fresh-title{
    font-family: serif;
    font-weight: bold;
    font-size: 55px;
    margin-bottom: 0;
    margin-top: 162px; 
}
.sub-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 0;
}
.sec-color{
    color: #E95A08;
}
.fresh-pic{
    width: 100%;
    height: auto;
    margin-top: 109px;
}

/* plants styles*/
.plants{
    max-width: 1140px; 
    margin: 0 auto;    
    padding: 0 20px;   
    box-sizing: border-box;
    text-align: center;
    
}
.plants-title{
    font-size: 50px;
    font-weight: bold;
    margin-top: 0;
    
}
.plants-sub-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 49px;
    max-width: 888px;
    margin-left: auto;
    margin-right: auto;
}
.plants-title h4{
    margin-bottom: 16px;
}
.plants-cards-grid{
display: grid;
grid-template-columns:repeat(4, 1fr); 
gap: 20px;
}
.flower-name{
    font-weight: 500;
    font-size: 20px;
    font-family:sans-serif;
    margin-bottom: 0;
}
.price{
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.cart-button{
    width: 100%;
    color: white;
    background-color: #E95A08;
    padding: 26px 50px;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

/* plants love section */
.plants-love{
    display: flex;
    justify-content: center;
    max-width: 1140px; 
    margin: 0 auto;    
    padding: 0 20px;   
    box-sizing: border-box;
    margin-top: 210px;
    gap: 60px;
}
.plants-lover-title{
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
}

.plant-card img { 
    max-width: 100%;
    height: auto;
    display: block;
}
.man{
    position: relative;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.badge{
    position: absolute;
    top: -120px; 
    left: 400px;
    width: 230px; 

    animation: spin 5s linear infinite;
}

.list-items{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 500;
    line-height: 1.6;
}

/* deals style */
.deals{
    max-width: 1140px; 
    margin: 130px auto; 
    padding: 0 20px;   
    box-sizing: border-box; 
    text-align: center;
}
.deals-title{
    font-size: 50px;
    font-weight: bold;
    
}
.deals-subtitle{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 888px;
    margin-left: auto;
    margin-right: auto;
}
.deals-title h4 {
    margin-bottom: 16px;
}

/* various plant styles */
.various-plant{
    max-width: 1140px; 
    margin: 130px auto; 
    padding: 0 20px;
    box-sizing: border-box; 
    display: flex;
    justify-content: center;
    gap: 50px;
}
.various-card-content{
    width: 100%;
}
.left-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    min-width: 300px;
}
.right-column{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    background-size: cover;
    background-position: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-small {
    height: 200px;
    width: 367px;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.card-large {
    height: 423px;
    width: 700px;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}
.bloom-plant{
    background-image: url(/assets/deal-bloom.png);
}
.ana-plant{
    background-image: url(/assets/deal-ana.png);
}
.zabo-plant{
    background-image: url(/assets/deal-zabo.png);
}
.discount{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.discount-2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}
.shop-now {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.shop-now-2{
    color: #fff;
    text-decoration: underline;
    font-size: 28px;
    font-weight: 700;
    padding: 5px 0;
}



